:root {
  --couleur-primaire : #753785;
  --main-text-color: #302c37;
  --link-color: #52697c;
  --background-color: #fdfdfd;
  --secondary-color: #43495a;
  --alternate-color: #608c9a;
  --alternate-light-color: #74afb2;
  --transparent-white-87: rgba(253, 253, 253, .87);
  --transparent-white-30: rgba(253, 253, 253, .3);
  --transparent-white-10: rgba(253, 253, 253, .1);
  --error-color: #ad7590;
  --muted-color-500: #8a8395;
  --muted-color-200: #cdc8d5;
  --muted-color-100: #efecf2;
}
    
html {
  background-color: var(--background-color);
  font-family: monospace, serif;
  color: var(--main-text-color);
}
    
a {
  color: var(--link-color);
  text-decoration: underline;
}
    
h1, h2 {
  border-bottom: none;
}
    
h2 {
  margin-top: 4rem;
}
    
blockquote, pre {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
   
.highlighter-rouge { 
  margin-bottom: 3rem; 
}

details {
  cursor: pointer;
  margin-bottom: 3rem; 
}

summary:hover  {
  color: var(--link-color);
  text-decoration: underline;
}

// GitHub Rougify theme
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #24292f;
  background-color: #f6f8fa;
  overflow: auto;
  font-size: .9rem;
}
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv {
  color: #cf222e;
}
.highlight .gr {
  color: #f6f8fa;
}
.highlight .gd {
  color: #82071e;
  background-color: #ffebe9;
}
.highlight .nb {
  color: #953800;
}
.highlight .nc {
  color: #953800;
}
.highlight .no {
  color: #953800;
}
.highlight .nn {
  color: #953800;
}
.highlight .sr {
  color: #116329;
}
.highlight .na {
  color: #116329;
}
.highlight .nt {
  color: #116329;
}
.highlight .gi {
  color: #116329;
  background-color: #dafbe1;
}
.highlight .kc {
  color: #0550ae;
}
.highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #0550ae;
}
.highlight .sb {
  color: #0550ae;
}
.highlight .bp {
  color: #0550ae;
}
.highlight .ne {
  color: #0550ae;
}
.highlight .nl {
  color: #0550ae;
}
.highlight .py {
  color: #0550ae;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #0550ae;
}
.highlight .o, .highlight .ow {
  color: #0550ae;
}
.highlight .gh {
  color: #0550ae;
  font-weight: bold;
}
.highlight .gu {
  color: #0550ae;
  font-weight: bold;
}
.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {
  color: #0a3069;
}
.highlight .nd {
  color: #8250df;
}
.highlight .nf, .highlight .fm {
  color: #8250df;
}
.highlight .err {
  color: #f6f8fa;
  background-color: #82071e;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6e7781;
}
.highlight .gl {
  color: #6e7781;
}
.highlight .gt {
  color: #6e7781;
}
.highlight .ni {
  color: #24292f;
}
.highlight .si {
  color: #24292f;
}
.highlight .ge {
  color: #24292f;
  font-style: italic;
}
.highlight .gs {
  color: #0E6270;
  font-weight: bold;
}

pre.highlight { margin: 0;}